/* Write your CSS here */
.cart-summary-container {
  display: flex;
  flex-direction: column;
  align-self: flex-end;
}
.order-total-value {
  color: #171f46;
  font-family: 'Roboto';
  font-size: 16px;
  margin-bottom: 2px;
}

@media screen and (min-width: 768px) {
  .order-total-value {
    font-size: 32px;
  }
}

.order-total-label {
  color: #616e7c;
  font-family: 'Roboto';
  font-size: 16px;
  font-weight: 500;
}

@media screen and (min-width: 768px) {
  .order-total-label {
    font-size: 24px;
  }
}

.checkout-button {
  background-color: #0b69ff;
  color: #ffffff;
  border: none;
  cursor: pointer;
  outline: none;
  border-radius: 5px;
  padding-top: 10px;
  padding-bottom: 10px;
}
